.header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid blue;
  height: 200px;
  margin-bottom: 3%;
}

.header-img {
  height: 100%;
  width: 30%;
  margin-right: 10%;
}

.header-text {
  display: flex;
  align-items: center;
  font-size: 80px;
  color: blue;
  font-weight: bold;
}
