.header {
  display: flex;
  bottom: 10%;
  border-bottom: 1px solid white;
}
.header-img {
  top: 1000%;
  width: 20%;
  margin-right: 20%;
}
.header-text {
  font-family: serif;
  font-size: 80px;
  color: white;
  margin: 4%;
}
