.astronaut {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  margin-block: 1rem;
  width: 50%;
  height: 10%;
}
.astronaut-informations {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.astronaut-actions {
  display: flex;
  flex-direction: row;
}
.astronaut-attribut {
  color: blue;
  margin-right: 1%;
}
.button-action {
  height: 100%;
}
