.astronaut {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  margin-block: 1rem;
}
.astronaut-informations {
  display: flex;
  flex-direction: row;
}

.astronaut-actions {
  margin-left: 10%;
  
}
.astronaut-attribut{
  color: orange;
  margin-right: 3%;
  
}
.button-action{
  height: 100%;
}
